* {
    box-sizing: border-box;
}

body {
    background-color: #0E121A;
    margin: 0px;
    min-width: 100px;
    font-family: "Helvetica";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form-container {
    width: 350px;
    height: 600px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-container .signup-main-logo {
    padding: 14px
}

.signup-form-container h1 {
    color: white;
    width: 100%;
    font-weight: 400;
    font-size: 44px;
    margin: 10px 0px;
}

.signup-form-container h4 {
    color: white;
    width: 100%;
    font-weight: 100;
    font-size: 22px;
    margin: 10px 0px;
}

.signup-form-container h5 {
    color: white;
    width: 100%;
    font-weight: 100;
    font-size: 11px;
    margin: 0px 0px;
}

.signup-form-container h5 a{
    color: #5e6ad2;
    width: 100%;
    font-weight: 100;
    font-size: 11px;
    margin: 0px 0px;
    text-decoration: none;
}

.signup-form-container #signup-form .form-group {
    color: white;
    font-size: 11px;
    display: flex;
    flex-direction: column;
}

.signup-form-container #signup-form .form-group label {
    color: white;
    font-size: 11px;
    margin-bottom: 5px;
}

.signup-form-container #signup-form .form-group input {
    background-color: #0e1219;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #262630;
    padding: 11px 13px;
    font-weight: 300;
    color: #fff;
}

.signup-form-container #signup-form .form-group input:focus {
    background-color: #181c24;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #262630;
    padding: 11px 13px;
    font-weight: 300;
    color: #fff;
}

.signup-form-container #signup-form .signup-button {
    color: white;
    width: 100%;
    height: 40px;
    background-color: #5e6ad2;
    border-radius: 4px;
    border: 0;
    outline: 0;
}